.navbar {
  border-bottom: 1px solid white;
  padding: 1rem 2rem;

  a {
    color: white;
    text-decoration: none;
    margin: 2rem;
    padding: 1rem;

    &:hover {
      color: #c8c8c8;
    }
  }
}

.container {
  @media (max-width: 1000px) {
    display: none;
  }
}

.burgerContainer {
  height: fit-content;

  @media (min-width: 1001px) {
    display: none;
  }
}
