.productsList {
  display: flex;
  flex-direction: column;
}

.boxLink {
  text-decoration: none;
  display: flex;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc((100vw - 225px) / 4);
  padding-bottom: 1rem;
  min-width: 300px;
  background-color: white;
  color: black;
}

.nonEmptyBox {
  cursor: pointer;

  &:hover {
    background-color: #dddddd;
  }
}

.detailedBox {
  &:hover {
    .productsList {
      display: flex !important;
    }

    .description {
      display: block;
    }
  }
}

.title {
  font-size: 1.125rem;
  text-align: justify;
  margin: 0 auto;
  padding: 1rem 1rem 0 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.125rem;
}

.item {
  margin: 2px 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.nutriscore {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  border-radius: 0 0 4px 0;
  width: 2rem;
  height: 2rem;
}

.recipeType {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  background-color: white;
  border-radius: 0 0 0 4px;
  width: 2rem;
  height: 2rem;
}
