.container {
  overflow: auto;
  max-height: 100%;
}

.allRecipes {
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;

  @media (min-width: 1001px) {
    justify-content: space-evenly;
  }
}

.empty {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}