.container {
  overflow: auto;
  max-height: 100%;
}

.header {
  margin: 32px;
  display: flex;
  gap: 16px 128px;
  justify-content: center;
  align-items: center;

  @media (max-width: 1000px) {
    flex-direction: column;
  }
}

.allRecipes {
  padding: 0 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;

  @media (min-width: 1001px) {
    justify-content: space-evenly;
  }
}
