.button {
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 1rem;

  &:hover {
    background-color: #c8c8c8;
  }
}

.linkButton {
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 0.5rem;

  &:hover {
    background-color: #c8c8c8;
  }
}

.backButton {
  cursor: pointer;
  position: absolute;
  top: 4px;
  right: 4px;
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  font-size: 1rem;

  @media (max-width: 1000px) {
    right: 2rem;
  }
}
