.button {
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 1rem;

  &:hover {
    background-color: #c8c8c8;
  }
}

.linkButton {
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 0.5rem;

  &:hover {
    background-color: #c8c8c8;
  }
}

.favoriteButton,
.backButton {
  cursor: pointer;
  position: absolute;
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  font-size: 1rem;
  padding: 0;

  @media (max-width: 1000px) {
    right: 2rem;
  }
}

.backButton {
  top: 0.5rem;
  right: 1rem;
}

.favoriteButton {
  bottom: 2rem;
  left: 2rem;
}