.buttons {
  display: flex;
  margin: 32px;
  gap: 16px;
}

.button {
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 16px;

  &:hover {
    background-color: #c8c8c8;
  }
}

.linkButton {
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 16px;

  &:hover {
    background-color: #c8c8c8;
  }
}
