.green,
.grey,
.yellow,
.red {
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.green {
  background-color: #EFF7E2;
  color: #34682F;
}

.grey {
  background-color: #FAF9F8;
  color: #666666;
}

.yellow {
  background-color: #feecc7;
  color: #a06b00;
}

.red {
  background-color: #FBEEED;
  color: #B91919;
}