.green,
.grey,
.yellow,
.red {
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
  width: fit-content;
}

.green {
  background-color: #eff7e2;
  color: #34682f;
}

.grey {
  background-color: #faf9f8;
  color: #666666;
}

.yellow {
  background-color: #feecc7;
  color: #a06b00;
}

.red {
  background-color: #fbeeed;
  color: #b91919;
}
