body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white;
  margin: 0;
}

.main-container {
  display: flex;
  max-height: calc(100vh - 91px);
}

@media (min-width: 1000px) {
  .main-container {
    max-height: calc(100vh - 51.5px);
  }
}

.none {
  display: none !important;
}

.blurred {
  filter: blur(5px);
}